<%- include("partials/header") %> 
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label for="">Title</label>
        <input name="title" class="form-control" type="text">
        <label for="">Post</label>
        <textarea name="post" class="form-control" id="" cols="30" rows="10"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>
<%- include("partials/footer") %> 